/* Header section styles */

.primary-color{
    color: #4E47FF;

}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    margin: 50px 0 50px 150px;
    font-size: 34px;
    font-weight:900;
}
.nav-btn{
    margin: 51px 150px 50px 0;
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
    

}

.nav-btn:hover{
    box-shadow: 0 0 15px #4E47FF;;
}

.header-body-btn{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    border-style: none;
     font-size: 16px;
    font-weight: bold;
    margin-bottom: 150px;
     transition: box-shadow 0.3s ease;

}
.header-body-btn:hover{
     box-shadow: 0 0 15px #4E47FF;
     

}

.header-body-para{
    font-size: 65px;
    font-weight: bold;
}
.header-body{
    /* text-align: center; */
    text-align: center;
    width: 100%;
    height: auto;
    margin: 150px 267px 0 0;
}
    
.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.header{
    /* background-color: #4E47FF; */
    background-image: url(../Assets/Hero-bg.png);
    max-width: 1440px;
    max-height: 698px;
}

/*  Action section styles */
.action-section{
    margin:116px 159px 116px 141px ;
}

.action{
    display: flex;
    gap: 220px;
}
.img{
    /* border: 1 px solid black; */
    border-radius: 48px;
}
.action-title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 23px;

}

.action-para{
    font-size: 24px;
    font-weight:400;
    color: #322432;
    margin-bottom: 23px;
}

/* productive-user-section */

.productive-user-section{
    margin: 116px 159px 137px 141px;
    background-color:#D6DDED ;
    border-radius: 24px;
    max-width: 1140px;
    text-align: center;
}
.users-data{
    display: flex;
    justify-content: space-around;
    gap: 158px;
    /* padding-top: 40px; */
    padding-bottom: 50px;

}
.productive-title{
    font-size: 38px;
    font-weight: bold;
    /* margin-top: 40px 142px; */
    padding: 40px 142px ;
}
.datas{
    font-size: 80px;
    font-weight: 700;
    color: #4E47FF;
    /* padding-bottom: 0px; */
    margin-bottom: 0;
}

.review-d{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    
}
.data{
    gap: 0px;
} 


/* Feeedback section/ challenge section  */
.users-feedback{
    margin: 137px 150px ;
}

.reviewer{
    display: flex;
    align-items: center;
    gap: 12px;

}
.reviewer-img{
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.feedback-container{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center; 


}
.feedback-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
} 
.feedback{

    padding: 20px;
    /* box-shadow: ; */
    border-radius: 14px;
    background-color: white;
    box-shadow: 0px 6px 50px 0px rgb(0,0, 0,0.04);

}

/* ready focus section */


.ready-focus-section{
    margin: 137px 149px 92px 151px; 
    max-width: 1140px; 
    /* justify-content: center;  */
    text-align: center;
    border-radius: 14px ;
    background-color: white;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.05);
    padding: 50px;
}


.ready-btn{
    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px; 
    border-style: none;
    font-size: 16px;
    /* font-weight: bold; */
    margin-bottom: 20px;

     transition: box-shadow 0.3s ease;
    

}
.ready-btn:hover{
    box-shadow: 0 0 15px #4E47FF;

}


.ready-img {
    max-width: 100%;
    height: auto;
    border-radius: 48px;
}

.ready-title{
    font-size: 50px;
    font-weight:700;
    color: #000000;
    margin-bottom: 20px;
}
/* 
.ready-para{
    /* margin-top: 20px;
    margin-bottom: 20px; */
    /* padding-bottom: 20px; */


/* Get in touch section */

.get-in-touch{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 115px;
    margin:92px 51px 14px 249px;


}
.section-title{
    font-size: 97px;
    font-weight: 700;
    color: #000000;

}

.right-side{
    width: 50%;
    height: auto;
} 

form input[type="text"], input[type="email"]{

    display: block;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    background-color: white;
    /* margin-bottom: 24px; */
    padding: 20px 20px ;
    margin-top: 32px;
    margin-bottom: 20px;
    width: 497px;
    height: 50px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.05)

}
form input[type="textarea"]{
     display: block;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    background-color: white;
    /* margin-bottom: 24px; */
    padding: 20px 20px ;
    margin-top: 32px;
    margin-bottom: 20px;
    width: 497px;
    height: 130px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.05)

}

.submit-btn{

    border-radius: 10px;
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px; 
    border-style: none;
    font-size: 16px;
    text-align: center;
    /* font-weight: bold; */
    width: 500px;
    transition: box-shadow 0.3s ease;
    

}
.submit-btn:hover{
    box-shadow: 0 0 15px #4E47FF;

}


/* Footer section */
.footer{
    max-width:1440;
    height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.05)

}
.footer-wrapper{
    margin: 104px 455px 103px 454px;
    text-align: center;


}
.footer-links{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    color: #8987A1;

}
.footer-LOGO{
    font-size: 100px;
    font-weight: 900;
    color: #00ADFE;
    padding: 20px;
    margin-bottom: 8px;


}

footer a{
    text-decoration: none;
    color: #8987A1;
}
footer p{

    font-size: 20px;
    color: #8987A1;
    margin-bottom: 20px;
}

/* Responsive design section */

@media screen and (max-width:576px) {
    .navbar,
    .action, 
    .action-section,
    .users-data,
    .footer-links
    {
        flex-direction: column;
        
    }
    .action, .users-data{
        gap: 0;
    }

    .logo,
     .nav-btn, 
     .header-body,  
     .header-body-btn, 
     .productive-user-section,
     .users-feedback{
        margin: 0;
    }
    .header-body-para, .action-section, .title-productive{
        margin:10px;
        font-size: 30px;
        font-weight: 300;
    }
    .productive-title, .datas{
        padding: 0;
        margin: 5px;
    }
    .action-title{
        margin: 5px;
    }
    .right-side-action img{
        width: 100%;
    }

    .left-side-action{
        text-align: center;

    }

    .header{
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* main sections */

    .feedback-container{
        flex-wrap: wrap;
    }
    .datas {
        font-size: 50px;
    }

    /* ready focus section */
    .ready-focus-section{
        margin: 0;
        padding: 15px;
    }

    /* Get in touch section */

    .get-in-touch{
        margin: 0;
        gap: 10px;
        flex-direction: column;
    }
    .left-side .section-title{
        font-size: 50px;
        text-align: center;
    }
    .right-side{
        width: 100%;
        /* padding: 0;         */
    }


    form input[type="text"], input[type="email"]{
        width: calc(100% - 30vw);
    }
    form input[type="textarea"]{
        width: calc(100% - 30vw);
    }
    .submit-btn{
        width: calc(100% - 15vw)
        
    }

    /* Footer section  */

    .footer{
        width: 100%;
        height: auto;
    }

    .footer-wrapper{
        margin: 0;
    }
    .footer-LOGO{
        margin: 10px;
        font-size: 30px;
    }
    



}